<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">	
	
  <display-name></display-name>
  <listener>
     <listener-class>com.ygj.control.onLineCount</listener-class>
  </listener>
   <filter>
      <filter-name>loginFilter</filter-name>
      <filter-class>com.ygj.control.loginFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>loginFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
      <filter-name>setEncodeFilter</filter-name>
      <filter-class>com.ygj.control.setEncodeFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>setEncodeFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <servlet>
    <servlet-name>Logindo</servlet-name>
    <servlet-class>com.ygj.control.Logindo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.ygj.control.CheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginSer</servlet-name>
    <servlet-class>com.ygj.service.LoginSer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registerdo</servlet-name>
    <servlet-class>com.ygj.control.Registerdo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Addarticle</servlet-name>
    <servlet-class>com.ygj.control.Addarticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Showarticle</servlet-name>
    <servlet-class>com.ygj.control.Showarticle</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>Showarticles</servlet-name>
    <servlet-class>com.ygj.control.Showarticles</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>Updatearticle</servlet-name>
    <servlet-class>com.ygj.control.Updatearticle</servlet-class>
  </servlet>
  <servlet>   
    <servlet-name>DoUpdate</servlet-name>
    <servlet-class>com.ygj.control.DoUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deletearticle</servlet-name>
    <servlet-class>com.ygj.control.Deletearticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.ygj.control.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.ygj.control.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UtilServlet</servlet-name>
    <servlet-class>com.ygj.control.UtilServlet</servlet-class>
  </servlet>
      <servlet>  
            <servlet-name>Kaptcha</servlet-name>  
            <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>  
    </servlet>  
    <servlet-mapping>  
            <servlet-name>Kaptcha</servlet-name>  
            <url-pattern>/kaptcha.do</url-pattern>  
    </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Logindo</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/CheckCode.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSer</servlet-name>
    <url-pattern>/LoginSer.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registerdo</servlet-name>
    <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addarticle</servlet-name>
    <url-pattern>/Addarticle.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showarticle</servlet-name>
    <url-pattern>/Showarticle.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showarticles</servlet-name>
    <url-pattern>/Showarticles.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Updatearticle</servlet-name>
    <url-pattern>/Updatearticle.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUpdate</servlet-name>
    <url-pattern>/DoUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deletearticle</servlet-name>
    <url-pattern>/Deletearticle.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilServlet</servlet-name>
    <url-pattern>/UtilServlet.do</url-pattern>
  </servlet-mapping>
 	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
